.checkbox {
    min-width: 30px;
    min-height: 30px;
    z-index: 2;
  
    input {
        display: none;
    }

    label {
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            height: 35px;
            width: 35px;
            border-radius: 0.4em;
            position: absolute;
            top: 3px;
            border: 3px solid #e6e6ef;
        }

        &::after {
            content: "";
            display: inline-block;
            height: 9px;
            width: 15px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
            position: absolute;
            left: 11px;
            top: 12px;
            color: white;
        }
    }
    /*Hide the checkmark by default*/
    input[type="checkbox"] + label::after {
        content: none;
    }                  
    /*Unhide the checkmark on the checked state*/
    input[type="checkbox"]:checked + label::after {
        content: "";
    }
    input[type="checkbox"]:checked + label::before {
        background: #506efa;
        border-color: #506efa;
    }
    input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }
}