.gallery {
    img {
        max-width: 210px;
        height: 140px;
        border-radius: 1.5em;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 0.4em;
        }
    }
}