.heading {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4em;
    justify-content: center;

    h1 {
        font-weight: 600;
        color: #2f3461;
        margin-bottom: 0.7em;
        line-height: 1.7;
        width: 100%;
        text-align: center;

        &::after {
            display: block;
            content: '';
            border: 2px solid #2f3461;
            width: 65px;
            margin: 0 auto;
            border-radius: 1em;
        }
    }

    p {
       font-size: 1.1em; 
       font-weight: 400;
       color: #2f3461;
    }
}